<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1> Welcome, {{ user.username|default:"guest" }}! </h1>
        <button type="submit" name="btn sign in">Sign in</button>
        <button type="submit" name="btn sign up">Sign up</button>
        <button type="submit" name="btn sign out">Sign out</button>
        <button type="submit" name="btn go to profile">Create cv</button>
    </form>
</body>
</html>
